# ─── App ─────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3002

# ─── Database ────────────────────────────────────────────────────────────────
# Docker: postgresql://walletos:<password>@postgres:5432/walletos_wallets
# Local:  postgresql://walletos:<password>@localhost:5432/walletos_wallets
DATABASE_URL=postgresql://walletos:secret@localhost:5432/walletos_wallets

# ─── Redis ───────────────────────────────────────────────────────────────────
REDIS_URL=redis://localhost:6379

# ─── RabbitMQ ────────────────────────────────────────────────────────────────
RABBITMQ_URL=amqp://walletos:secret@localhost:5672

# ─── Auth ────────────────────────────────────────────────────────────────────
# Generar: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
# Mismo valor que user-service
JWT_SECRET=
INTERNAL_SECRET=
